# http://www.drchip.org/astronaut/vim/index.html#LATEXPKGS
/after/syntax/tex/
/autoload/
/colors/
/doc/
/ftdetect/skkdict.vim
/keymap/READMERU.txt
/keymap/russian-typograph.vim
/lang/
/pack/
/plugin/
/syntax/help_ja.vim
/syntax/help_ru.vim
/syntax/READMERU.txt
/syntax/skkdict.vim
.netrwhist
.VimballRecord
